@import "tailwindcss";

:root {
  --gray-light: #e7e8ea;
  --gray: #4b5563;
  --gray-dark: #3f4852;
  --black: #1f2933;
  --white: #ffffff;
  --mint: #6dd3c2;
  --mint-dark: #3c9488;
  --peach: #f9b09f;
}
